DEPLOYMENT_NETWORK=

TARGET_CHAIN_1=
TARGET_CHAIN_2=

PROXY_ADMIN_ADDR_BASE=
PROXY_ADMIN_ADDR_FUJI=
PROXY_ADMIN_ADDR_MUMBAI=

CHAIN_ID_BASE=
CHAIN_ID_FUJI=
CHAIN_ID_MUMBAI=

LZ_ENDPOINT_GOERLI=
LZ_ENDPOINT_FUJI=
LZ_ENDPOINT_MUMBAI=

QUORUM=
VOTING_DELAY=
VOTING_PERIOD=
